<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.userService.Mapper.FileMapper">


    <select id="getList" resultType="com.student.userService.Domain.Entry.ResourcesFileEntry">
        select id,local_url,on_shelf,size,media_id,type
        from files
        where 1=1
        <if test="type != 0">
           and  type =#{type}
        </if>
    </select>

</mapper>
