<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.userService.Mapper.UserMapper">

    <select id="userLogin" resultType="com.student.userService.Dao.User">
        select * from user
        where mobile=#{mobile} and password=#{password}
    </select>



</mapper>